.imageClass {
  width:250px;
  height:170px;
}

.buttonClass {
  color: black;
  padding: 60px 90px;
  border-style: inset;
}

#mainBody {
  background: url(chichenItza.png);
  background-size: cover;
  background-position: 50%;
}

h2 {
    background-color:white;
    color:black;
    font-size:50px;
  }

#welcomeSign {
  color:green;
  font-size:90px;
  margin:0px;
  text-align: center;

}

#temperature {
  background-color:coral;
  color:black;
  font-size:80px;
}


#temperature-up {
  background: url(chilli-pepper.jpg);
  background-size:cover;
  background-position:50%;
}

#temperature-down {
  background: url(coronas.jpg);
  background-size:cover;
  background-position:50%;
}

#temperature-reset {
  background: url(cactus.jpg);
  background-size:cover;
  background-position:50%;
}

#powersaving-on {
  background: url(greenpower.jpg);
  background-size:cover;
  background-position:50%;
}

#powersaving-off {
  background: url(coalpower.jpg);
  background-size:cover;
  background-position:50%;
}
